includes:
  - vendor/larastan/larastan/extension.neon
  - vendor/pestphp/pest/extension.neon
parameters:
  paths:
    - app
    - database
    - tests
  scanFiles:
    - tests/Pest.php
  level: 6
  tmpDir: build/phpstan
  bootstrapFiles:
    - vendor/larastan/larastan/bootstrap.php
  ignoreErrors: []
  parallel:
    maximumNumberOfProcesses: 4
